/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap')

:root {
    --main-bg-color: #FFFFFF;
}

body {
    background: var(--main-bg-color);
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-bottom: 0px
}

h1 {
    background: #691D78;
    color: #691D78;
    margin: 0;
    padding: 20px;
    font-size: 64px;
}

.logo img  {
    margin: 0;
    padding: 20px;
    width: 500px;
    height: auto;  
    position: relative;
    top: -205px;
    background: #691D78;
}

.Search {
    font: 64px;
    text-align: center;
    position: relative;
    top: -190px;
    margin-left:1000px;
    overflow-x: hidden;
}

form {
    width: 900px;
}

input[type=text] {
    font-family: 'Inter', sans-serif;
    width: 500px;
    text-align: left;
    padding: 20px 10px 20px 20px;
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    background-color: white;
    color: #424242;
    border: none;
}

input[type=button] {
    font-weight: 700;
    font-size: 30px;
    padding: 10px 40px 17px 30px;
    margin-left: -34px;
    margin-right: 0px;
    background-color: #D62F61;
    color: white;
    border: none;
}

.homecoverpage  {
    margin: 0;
    padding: 0px;
    top: -164px;
}

.homecoverpage img  {
    max-width: 100%;
    height: auto; 
    top: -500px;
}

.cover-grid  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    top: -115px;
}

.cover-grid img {
  width: 100%;
  height: auto;
}

h2 {
    color: #D62F61;
    padding: 10px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    max-width: 1000px;
    position: relative;
    bottom: 83px;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    top: -50px;
}

.featured-products img {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.PB1 {
    margin: 0;
    padding: 0px;
    top: -164px;
    overflow: hidden;
}

.PB1 img  {
    max-width: 100%;
    height: auto; 
    top: -500px;
}

h3 {
    color: #691D78;
    padding: 10px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    max-width: 1000px;
    position: relative;
    bottom: 135px;
}

.new-grid  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    top: -90px;
}

.new-grid img {
  width: 100%;
  height: auto;
}

h4 {
    color: #353535;
    padding: 20px;
    margin: 0;
    font-size: 38px;
    margin-right: 40px;
}

p {
    color: #353535;
    padding: 20px;
    margin: 0;
    font-size: 30px;
    margin-right: 250px;
    line-height: 1.3;
}

div {
position: relative;
top: 100px;
}